body {
  color: rgb(245, 213, 237);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
  font-size: 23px;
  background-image: url("image_67193857.JPG");
  background-position: center;
}

h2 {
  font-size: 20px;
}

div {
  margin: 20px 0px;
  text-align: center;
}

input {
  width: 200px;
  padding: 5px;
  border: 0px;
  border-radius: 20px;
}

input,
button {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

button {
  background-color: rgb(235, 213, 237);
  border: none;
  padding: 5px 25px;
  color: rgb(black);
  border-radius: 20px;
}

section {
  margin: 120px;
  padding: 50px;
  text-align: center;
  backdrop-filter: brightness(70%);
  border-radius: 20px;
}

h1 {
  color: rgb(140, 174, 104);
}
